<!DOCTYPE html>
<html>
<head>
  <title><%=snippet.title%></title>
  <meta property="og:title" content="<%=snippet.title%>" />
  <meta
    property="og:description"
    content="<%=snippet.description%>"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%=url%>" />
  <meta property="og:site_name" content="Pastesphere" />
  <meta name="description" content="<%=snippet.description%>" />
  <link rel="canonical" href="<%=url%>" />
</head>
<body>
  Snippet metadata for bots.
</body>
</html>
